.button {
  all: unset;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.withIcon {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  justify-content: space-between;
  text-wrap: nowrap;
}

.primary {
  background-color: var(--pale-sky-900);
  color: var(--white-50);
  font-weight: 400;

  &:hover {
    cursor: pointer;
    background-color: var(--pale-sky-700);
  }
}
.danger {
  background-color: var(--persian-red-600);
  color: var(--white-50);
  font-weight: 400;

  &:hover {
    cursor: pointer;
    background-color: var(--persian-red-500);
  }
}

.secondary {
  background-color: var(--pale-sky-100);
  color: var(--pale-sky-800);
  font-weight: 400;

  &:hover {
    cursor: pointer;
    background-color: var(--pale-sky-200);
  }
}

.tertiary {
  color: var(--forest-green-800);
  font-weight: 400;

  &:hover {
    cursor: pointer;
    background-color: var(--forest-green-50);
  }
}

.disabled {
  background-color: var(--pale-sky-500) !important;
  color: var(--pale-sky-500);
  font-weight: 400;

  &:hover {
    cursor: pointer;
    background-color: var(--forest-green-50);
  }
}

.loadingIconWrapper {
  max-width: 0px;
  overflow: hidden;
  transition: max-width 0.3s ease-in-out;
  .loadingIcon {
    animation: 1.5s spin infinite linear;
    margin-right: 0.5rem;
  }
}

.loadingIconWrapperOpen {
  max-width: 100px;
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
