.page {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  background: var(--pale-sky-100);
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  justify-content: center;
}
