.page {
  display: flex;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  background: var(--pale-sky-50);
  flex-direction: column;
}

.main {
  display: flex;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  padding: 2rem;
  height: 2000px;
}
