@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --pale-sky-50: #f7f8f8;
  --pale-sky-100: #edeef1;
  --pale-sky-200: #d8dbdf;
  --pale-sky-300: #b6bac3;
  --pale-sky-400: #8e95a2;
  --pale-sky-500: #6b7280;
  --pale-sky-600: #5b616e;
  --pale-sky-700: #4a4e5a;
  --pale-sky-800: #40444c;
  --pale-sky-900: #383a42;
  --pale-sky-950: #25272c;

  --black-50: #f6f6f6;
  --black-100: #e7e7e7;
  --black-200: #d1d1d1;
  --black-300: #b0b0b0;
  --black-400: #888888;
  --black-500: #6d6d6d;
  --black-600: #5d5d5d;
  --black-700: #4f4f4f;
  --black-800: #454545;
  --black-900: #3d3d3d;
  --black-950: #000000;

  --persian-red-50: #fef2f2;
  --persian-red-100: #fee2e2;
  --persian-red-200: #fecaca;
  --persian-red-300: #fca5a5;
  --persian-red-400: #f87171;
  --persian-red-500: #ef4444;
  --persian-red-600: #dc2626;
  --persian-red-700: #b91c1c;
  --persian-red-800: #991b1b;
  --persian-red-900: #7f1d1d;
  --persian-red-950: #450a0a;

  --white-50: #ffffff;
  --white-100: #efefef;
  --white-200: #dcdcdc;
  --white-300: #bdbdbd;
  --white-400: #989898;
  --white-500: #7c7c7c;
  --white-600: #656565;
  --white-700: #525252;
  --white-800: #464646;
  --white-900: #3d3d3d;
  --white-950: #292929;

  --forest-green-50: #f1fcf1;
  --forest-green-100: #dff9df;
  --forest-green-200: #c1f1c1;
  --forest-green-300: #91e491;
  --forest-green-400: #5ace5a;
  --forest-green-500: #34b335;
  --forest-green-600: #269727;
  --forest-green-700: #217422;
  --forest-green-800: #1f5c20;
  --forest-green-900: #1b4c1c;
  --forest-green-950: #092a0b;
}

body {
  height: 100%;
  flex-grow: 1;
  display: flex;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
