.buttonTitle {
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8rem;
  transition: all 0.3s ease-in-out;
  align-items: center;
  display: flex;
  user-select: none;
  gap: 0.25rem;
  p {
    width: fit-content;
  }

  &:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  display: flex;

  z-index: 10;
}

.backdrop {
  position: absolute;
  backdrop-filter: blur(10px);

  background: rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  z-index: 1;
  cursor: default;
}

.modalCardWrapper {
  z-index: 2;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  height: fit-content;

  max-width: clamp(500px, calc(100% - 6rem), 900px);
  max-height: calc(100% - 9rem);

  margin: 6rem 3rem 3rem 3rem;
}

.logoWrapper {
  position: absolute;
  top: -85px;
  width: fit-content;
  transform: rotate(55deg);

  z-index: 200;
  left: calc(80% - 50px);
  margin: auto;
  user-select: none;

  img {
    width: 150px;
    object-fit: contain;
    user-select: none;
  }
}

.rotatingBackgroundWrapper {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  border-radius: 4px;
}
.rotatingBackground {
  background-image: linear-gradient(
    var(--rotate),
    rgba(230, 218, 218, 0.4),
    rgba(39, 64, 70, 0.4)
  );
  width: 104%;
  height: 102%;
  top: -1%;
  left: -2%;
  animation: spin 10s linear infinite;
  display: flex;
  position: absolute;
}
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.modalCard {
  background-color: rgba(255, 255, 255, 1);
  padding: 1rem;
  margin: 1rem;
  border-radius: 3px;
  z-index: 10;
  position: relative;
  max-height: calc(100% - 2rem);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.modalTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  gap: 3rem;
}

.title {
  font-size: 1.1rem;
}
.subtitle {
  font-size: 0.8rem;
  margin-right: 50px;
  color: rgba(0, 0, 0, 0.7);
}

.closeIcon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: red;
  }
}

.results {
  padding: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 1rem;
  width: 100%;
}

/* width */
.results::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.results::-webkit-scrollbar-track {
  background: hsl(152, 37%, 93%);
  border-radius: 3px;
}

/* Handle */
.results::-webkit-scrollbar-thumb {
  background: hsl(152, 37%, 73%);
  border-radius: 3px;
}

/* Handle on hover */
.results::-webkit-scrollbar-thumb:hover {
  background: hsl(152, 37%, 63%);
}
