.navigationWrapper {
  display: flex;
  height: 50px;
  position: sticky;
  top: 0;
  background-color: var(--white-50);
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 25px var(--pale-sky-300);
}

.container {
  display: flex;
  padding: 0 2rem;
  max-width: 1200px;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.logoWrapper {
  line-height: 1rem;
  h3 {
    color: var(--pale-sky-950);
    font-weight: 600;
    font-size: 1.3rem;
  }
  p {
    color: var(--pale-sky-800);
    font-weight: 400;
    font-size: 0.7rem;
  }
}
