.button {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid white;
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  height: fit-content;

  h2 {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.5rem;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    cursor: pointer;
    user-select: none;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 1);
    h2 {
      color: rgba(0, 0, 0, 1);
    }
  }
}

.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  display: flex;
}

.backdrop {
  position: absolute;
  backdrop-filter: blur(10px);

  background: rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  z-index: 1;
  cursor: default;
}

.modalCardWrapper {
  z-index: 2;
  border-radius: 5px;
  min-width: 500px;
  height: fit-content;
  position: relative;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);

  max-width: calc(100% - 6rem);
  max-width: 900px;
  margin: 7rem 3rem 3rem 3rem;
}

.logoWrapper {
  position: absolute;
  top: -85px;
  width: fit-content;
  transform: rotate(55deg);

  z-index: 200;
  left: calc(80% - 50px);
  margin: auto;
  user-select: none;

  img {
    width: 150px;
    object-fit: contain;
    user-select: none;
  }
}

.rotatingBackgroundWrapper {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  border-radius: 4px;
}
.rotatingBackground {
  background-image: linear-gradient(
    var(--rotate),
    rgba(230, 218, 218, 0.4),
    rgba(39, 64, 70, 0.4)
  );
  width: 104%;
  height: 102%;
  top: -1%;
  left: -2%;
  animation: spin 10s linear infinite;
  display: flex;
  position: absolute;
}
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.modalCard {
  background-color: rgba(255, 255, 255, 1);
  padding: 1rem;
  margin: 1rem;
  border-radius: 3px;
  z-index: 10;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.modalTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  gap: 3rem;
}

.title {
  font-size: 1.1rem;
}
.subtitle {
  font-size: 0.8rem;
  margin-right: 50px;
  color: rgba(0, 0, 0, 0.7);
}

.closeIcon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: red;
  }
}

.questionsWrapper {
  padding: 2rem 0;
}
.question {
  display: flex;
  flex-direction: column;
}

.questionTitle {
  font-size: 1rem;
}

.answersWrapperCases {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  gap: 1rem;
  padding: 0.5rem 0;
}

.answerCard {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    background-color: #99f2c8;
  }
}

.answerCardIcon {
  width: 100%;
}

.image {
  max-height: 100px;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
  user-select: none;
}

.answerCardTitle {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.5rem 0;
}

.results {
  padding: 3rem 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.resultsTitle {
}

.resultsText {
  font-size: 1.2rem;
  text-align: center;
  padding: 0 3rem;
  width: 100%;
}

.footer {
  padding: 1rem 0 0 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;

  .backButton {
    all: unset;
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;

    &:hover {
      cursor: pointer;
      color: black;
    }
  }

  .nextStepButton {
    all: unset;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    background-color: #5e6b65;
    padding: 0.25rem 1rem;
    border-radius: 5px;
    color: white;
    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: not-allowed;
      // color: white;
      // background-color: #1b4d35;
    }
  }
}
